<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart31.team03.leave.mapper.LeaveGrantMapper">
	<!-- 조직원 아이디별 휴가 부여 내역 조회 -->
	<resultMap type="ksmart31.team03.leave.domain.LeaveGrant" id="selectLeaveGrantByMemeberId">
		<result column="leave_category_sort" property="leaveCategorySort"/>
		<result column="DATE_FORMAT(leave_grant_date,'%Y-%m-%d')" property="leaveGrantDate"/>
		<result column="leave_grant_hour" property="leaveGrantHour"/>
		<result column="leave_grant_day" property="leaveGrantDay"/>
		<result column="leave_grant_reason" property="leaveGrantReason"/>
	</resultMap>
	<select id="selectLeaveGrantByMemeberId" parameterType="java.util.Map" resultMap="selectLeaveGrantByMemeberId">
		SELECT 
			leave_category_sort,
			DATE_FORMAT(leave_grant_date,'%Y-%m-%d'),
			leave_grant_hour,
			leave_grant_day,
			leave_grant_reason
		FROM leave_grant
		WHERE member_id = #{memberId}
		<!-- leaveCategorySort 선택 값의 동적 쿼리-->
		<!-- 전체 선택 시 밸류값이 공백 -->
		<if test="leaveCategorySort != ''">
			AND leave_category_sort = #{leaveCategorySort}
		</if>
	</select>
	<!-- 조직원 아이디별 휴가 부여일 합산 조회 -->
	<resultMap type="ksmart31.team03.leave.domain.LeaveGrantAndUsed" id="selectTotalLeaveGrantByMemberId">
		<result column="SUM(leave_grant_hour)" property="leaveTotalGrantHour"/>
		<result column="SUM(leave_grant_day)" property="leaveTotalGrantDay"/>
	</resultMap>
	<select id="selectTotalLeaveGrantByMemberId" parameterType="java.util.Map" resultMap="selectTotalLeaveGrantByMemberId">
		SELECT 
			SUM(leave_grant_hour),
			SUM(leave_grant_day)
		FROM leave_grant
		WHERE member_id = #{memberId}
		<!-- leaveCategorySort 선택 값의 동적 쿼리-->
		<!-- 전체 선택 시 밸류값이 공백 -->
		<if test="leaveCategorySort != ''">
			AND leave_category_sort = #{leaveCategorySort}
		</if>
	</select>
</mapper>