<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart31.team03.leave.mapper.LeaveHistoryMapper">
	<!-- 조직원 아이디별 휴가 내역 조회 -->
	<resultMap type="ksmart31.team03.leave.domain.LeaveHistory" id="selectLeaveHistoryByMemberId">
		<result column="leave_history_code" property="LeaveHistoryCode"/>
		<result column="leave_category_sort" property="leaveCategorySort"/>
		<result column="leave_category_code" property="leaveCategoryCode"/>
		<result column="leave_history_grant_hour" property="leaveHistoryGrantHour"/>
		<result column="leave_history_grant_day" property="leaveHistoryGrantDay"/>
		<result column="leave_history_used_hour" property="leaveHistoryUsedHour"/>
		<result column="leave_history_used_day" property="leaveHistoryUsedDay"/>
		<result column="leave_history_remaining_hour" property="leaveHistoryRemainingHour"/>
		<result column="leave_history_remaining_day" property="leaveHistoryRemainingDay"/>
	</resultMap>
	<select id="selectLeaveHistoryByMemberId" parameterType="String" resultMap="selectLeaveHistoryByMemberId">
		SELECT 
			leave_history_code,
			leave_category_sort,
			leave_category_code,
			leave_history_grant_hour,
			leave_history_grant_day,
			leave_history_used_hour,
			leave_history_used_day,
			leave_history_remaining_hour,
			leave_history_remaining_day
		FROM leave_history
		WHERE member_id = #{memberID}
		ORDER BY(SUBSTRING_INDEX(leave_category_code,'_',-1)+0)
	</select>

</mapper>