<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>최근 승인문서 목록</title>
		<link rel="icon" href="../../favicon.ico" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
		<link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="../../plugins/ionicons/dist/css/ionicons.min.css">
		<link rel="stylesheet" href="../../plugins/icon-kit/dist/css/iconkit.min.css">
		<link rel="stylesheet" href="../../plugins/perfect-scrollbar/css/perfect-scrollbar.css">
		<link rel="stylesheet" href="../../dist/css/theme.min.css">
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<div class="col-xl-8 col-md-6">
			<div class="card table-card">
				<div class="card-header">
					<h3>최근승인문서</h3>
				</div>
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-hover mb-0">
							<thead>
	                        	<tr>
	                                <th>제목</th>
	                                <th>기안일</th>
	                                <th></th>
	                            </tr>
	                        </thead>
							<tbody>
								<tr th:each="list : ${list}">
									<td class="lastestApprovalDocumentList">
										<a th:value="${list.approvalDocumentCode}" href="#">
											<th:block th:text="${list.approvalDocumentFileSaveName}"></th:block>
										</a>
									</td>
									<td th:text="${list.documentDate}"></td>
									<td>
										<a href="#!"><i class="ik ik-trash-2 f-16 text-red"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
