<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<!-- jquery head 부분 넣는곳 -->
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>Sample</title>
		<th:block th:include="layout/customHead"></th:block>
				
		<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
		<title>leaveCategoryList.html</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
	</th:block>
	
	<!-- 본문 -->
	<th:block layout:fragment="customBody">
		<h2>나의 정보 - 나의 인사 정보</h2>
		<br/>
		
		<div class="row">
			<div class="col-2" style="padding-left:50px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">MyProfile</div>
					<div class="card-body">
						<div>
							<a href="/member/memberMyProfile/myProfile">개인 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myInfo">인사 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myCareer">경력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myProject">프로젝트 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myEducation">학력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAcademy">교육 이력 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myLicense">자격증 정보</a>
						</div>
						<hr>
						<div>
							<a href="/member/memberMyProfile/myAwards">수상 경력 정보</a>
						</div>
					
					</div>
				</div>
			</div>	
				
	<!-- 	<table>
			    <tr data-th-each="user : ${users}">
			        <td data-th-text="${user.login}">...</td>
			        <td data-th-text="${user.name}">...</td>
			    </tr>
			</table> -->
			
			
			<div class="col-10" style="padding-right:20px; border-right: 1px solid #ccc;">
				<div class="card">
					<div class="card-header">경력 정보 </div>
					<div  align="right" style="height: 100px; padding:20px"><button>추가</button></div>
					<div class="card-body" >
					
						<div  th:each="myCareer : ${myCareer}">
							<div  align="right" style="height: 100px; padding:20px"><button>수정</button> <button>삭제</button></div>
							<div th:text="|기간 - ${myCareer.memberCareerStartDay} ~ ${myCareer.memberCareerEndDay}|"></div>
							<div th:text="|회사명 - ${myCareer.memberCareerCompany}|"></div>
							<div th:text="|직급 - ${myCareer.memberPositionName}|"></div>
							<div th:text="|퇴사사유 - ${myCareer.memberCareerOutReason}|"></div>
							<hr>
							
							
							<!-- 
							시작								종료					퇴사회사					직급
							member_career_start_day ~ member_career_end_day member_career_company	member_position_name
							
							퇴사사유
							member_career_out_reason
							 -->
							 
							 
						</div>	
					</div>
				</div>
			</div>
		</div>

			
		
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
