<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>approvedDocumentHistory</title>
	<th:block th:include="layout/customHead"></th:block>
	<script>
		function checkAll() {
			if ($("#checkAll").is(':checked')) {
				$("input[type=checkbox]").prop("checked", true);
			} else {
				$("input[type=checkbox]").prop("checked", false);
			}
		};
	</script>
</th:block>

<th:block layout:fragment="customBody">
	<h2>나의 문서함</h2>
	<br />
	<div class="col-md-12">
		<div class="card table-card">
			<div class="card-header">
				<h3>결재완료문서</h3>
				<div class="card-header-right"></div>
			</div>
			<div class="card-block">
				<div class="table-responsive">
					<table class="table table-hover mb-0">
						<thead>
							<tr>
								<th><div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input"
											id="checkAll" name="example1" onclick="checkAll();">
										<label class="custom-control-label" for="checkAll"> </label>
									</div></th>
								<th>진행상태</th>
								<th>문서명</th>
								<th><i class="ik ik-paperclip"></i><i
									class="ik ik-message-square"></i></th>
								<!-- 첨부파일&댓글 -->
								<th>기안자</th>
								<th>기안일</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input" id="c1"
											name="example1"> <label class="custom-control-label"
											for="c1"> </label>
									</div></td>
								<td><label class="badge badge-primary">결재중</label></td>
								<td>휴가신청서</td>
								<td><i class="ik ik-paperclip">3</i><i
									class="ik ik-message-square">4</i></td>
								<td>이승진</td>
								<td>2018-03-11</td>
							</tr>
							<tr>
								<td><div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input" id="c1"
											name="example1"> <label class="custom-control-label"
											for="c1"> </label>
									</div></td>
								<td><label class="badge badge-primary">결재중</label></td>
								<td>휴가신청서</td>
								<td><i class="ik ik-paperclip">3</i><i
									class="ik ik-message-square">4</i></td>
								<td>이승진</td>
								<td>2018-03-11</td>
							</tr>
							<tr>
								<td><div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input" id="c1"
											name="example1"> <label class="custom-control-label"
											for="c1"> </label>
									</div></td>
								<td><label class="badge badge-primary">결재중</label></td>
								<td>휴가신청서</td>
								<td><i class="ik ik-paperclip">3</i><i
									class="ik ik-message-square">4</i></td>
								<td>이승진</td>
								<td>2018-03-11</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>
