<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
<title>leaveCategoryList.html</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	// 조직도 버튼 클릭 이벤트
	$('.departmentNameButton').click(function(){
		console.log('조직도 버튼 테스트 value : '+$(this).attr('value'));
		// departmentName 별로 부서명을 조회하기 위해 이름 값을 담는 변수  
		let departmentName = $(this).attr('value');
		console.log('departmentName 확인');	
		location.href='/departmentView?departmentName='+$(this).attr('value');
	});
});
</script>
</head>
<body>
<div class="row">
	<div class="col-2" style="padding-right:20px; border-right: 1px solid #ccc;">
		<h1>주</h1>
		<h1>진</h1>
		<h1>호</h1>
		<h1>짱</h1>
		<h1>짱</h1>
		<h1>허</h1>
		<h1>언</h1>
		<h1>증</h1>
		<h1>맨</h1>
	</div>
	<div class="col-3" style="padding-right:20px; border-right: 1px solid #ccc;">
		<!-- 조직도 카테고리 네비바 -->
		<h4>조직도</h4>
		<div th:each="recursiveList: ${recursiveList}">
			<button class="departmentNameButton btn btn-outline-dark" th:text="${recursiveList.departmentName}" th:value="${recursiveList.departmentName}"></button>
		</div>						
	</div>
	<div class="col-7">				
		<hr>
		<!-- department부서명과 member조직원 기본정보 조인 -->
			<table border="1">				
				<tr th:each="departmentJoinMemberList:${departmentJoinMemberList}">
					<td th:text="${departmentJoinMemberList.memberName}"></td>
					<td th:text="${departmentJoinMemberList.memberLevelTitle}"></td>
					<td th:text="${departmentJoinMemberList.departmentCategoryName}"></td>
					<td th:text="${departmentJoinMemberList.departmentDivisionName}"></td>
					<td th:text="${departmentJoinMemberList.departmentSectionName}"></td>
					<td th:text="${departmentJoinMemberList.memberPositionName}"></td>
					<td th:text="${departmentJoinMemberList.memberId}"></td>
					<td th:text="${departmentJoinMemberList.memberPhone}"></td>
					<td th:text="${departmentJoinMemberList.memberMobile}"></td>
					<td th:text="${departmentJoinMemberList.memberJoinDay}"></td>
					<td th:text="${departmentJoinMemberList.memberAddress}"></td>
				</tr>	
			</table>
	</div>
</div>	
</body>
</html>