<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart31.team01.member.mapper.MemberMyProfileMapper">


	
	<!-- myProfile 개인정보 -->
	<resultMap type="ksmart31.team01.member.domain.Member" id="myProfile">	
				<!-- db컬럼 -->		<!-- domain 데이터변수명 -->
		<result column="member_id" property="memberId"/>
		<result column="member_mobile" property="memberMobile"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_birth" property="memberBirth"/>
		<result column="member_gender" property="memberGender"/>

	</resultMap>
	<select id="myProfile" resultMap="myProfile" >
		SELECT 
			member_phone,
			member_mobile,
			member_address,
			member_birth,
			member_gender
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
	

</mapper>