<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>공통 문서양식 관리</title>
		<th:block th:include="layout/customHead"></th:block>
		<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}">
		<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
		<script>
			$(document).ready(function() {
				// 페이지가 로드되면 전체 문서양식 목록이 보인다.
				$.ajax({
					url:'/admin/getDocumentForm'
					, type:'GET'
					, data : {}
		            , success:function(data) {
		            	console.log('비동기 요청 성공');
		            	console.log(data);
		            	$('#documentFormList').empty();
		            	// 요청 성공시 문서양식목록 뿌려주기
		                $(data).each(function(i,item){
		                    $('#documentFormList').append('<tr>');
		                    $('#documentFormList').append('<td><input type="checkbox" class="ck" value="'+item.documentFormCategoryCode+'"></td>');
		                    $('#documentFormList').append('<td>'+item.documentFormCategoryName+'</td>');
		                    $('#documentFormList').append('<td>'+item.documentFormName+'</td>');
		                    $('#documentFormList').append('<td>'+item.documentFormDate+'</td>');
		                    $('#documentFormList').append('</tr>');
		        	   	});
		            }
				});
				
				// 카테고리별 문서양식 목록
				$('.documentFormCategory a').click(function() {
					console.log('#documentFormCategory click');
					//비동기 요청
					$.ajax({
						url:'/admin/getDocumentFormByCategory'
							, type:'GET'
							, data : {documentFormCategoryCode : $(this).attr("value")}
				            , success:function(data) {
				            	console.log(data);
				            	$('#documentFormList').empty();
				                $(data).each(function(i,item){
				                    $('#documentFormList').append('<tr>');
				                    $('#documentFormList').append('<td><input type="checkbox" class="ck" value="'+item.documentFormCategoryCode+'"></td>');
				                    $('#documentFormList').append('<td>'+item.documentFormCategoryName+'</td>');
				                    $('#documentFormList').append('<td>'+item.documentFormName+'</td>');
				                    $('#documentFormList').append('<td>'+item.documentFormDate+'</td>');
				                    $('#documentFormList').append('</tr>');
				        	   	});
				            }
					});
		
				});
						
			});
		</script>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<div class="row">
			<div class="col-xl-2 col-md-6">
				<div class="card table-card">
					<div class="card-header">
						<h3>문서양식분류</h3>
					</div>
					<div class="card-block">
						<div class="table-responsive">
							<table class="table table-hover mb-0">
								<tbody>
									<tr th:each="list : ${list}">
										<td class = "documentFormCategory">
											<a th:value="${list.documentFormCategoryCode}" href="#">
												<th:block th:text="${list.documentFormCategoryName}"></th:block>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-md-6">
				<div class="card table-card">
					<div class="card-header">
						<h3>문서양식 목록</h3>
					</div>
					<div class="card-block">
						<div class="table-responsive">
							<table class="table table-hover mb-0">
								<thead>
						            <tr>
						            	<th></th>
			                			<th>문서 카테고리</th>
						                <th>제목</th>
						                <th>등록일</th>
						            </tr>
						        </thead>
								<tbody id="documentFormList">
						        </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</th:block>
	
</html>
